[flake8]
ignore =
    E203,
    E241,
    E302,
    E501,
    E741,
    W291,
    W503,

per-file-ignores =
    examples/application/abi/algobank.py:           F403, F405
    examples/application/asset.py:                  F403, F405
    examples/application/opup.py:                   F403, F405
    examples/application/security_token.py:         F403, F405
    examples/application/vote.py:                   F403, F405
    examples/signature/atomic_swap.py:              F403, F405
    examples/signature/basic.py:                    F403, F405
    examples/signature/dutch_auction.py:            F403, F405
    examples/signature/periodic_payment_deploy.py:  F403, F405
    examples/signature/periodic_payment.py:         F403, F405
    examples/signature/recurring_swap_deploy.py:    F403, F405
    examples/signature/recurring_swap.py:           F403, F405
    examples/signature/split.py:                    F403, F405
    pyteal/__init__.py:                             F401, F403
    pyteal/compiler/flatten.py:                     F821
    pyteal/compiler/optimizer/__init__.py:          F401
    pyteal/ir/ops.py:                               E221
    pyteal/ir/tealconditionalblock.py:              F821
    pyteal/ir/tealsimpleblock.py:                   F821
    pyteal/stack_frame.py:                          F821
    tests/teal/rps.py:                              F401, F403, F405, I252
    tests/unit/module_test.py:                      F401, F403

# from flake8-tidy-imports
ban-relative-imports = true
